<div class="container">

  <h1>Recent Tweets</h1>

  <div class="posts">
    <% @users.each do |user| %>
      <% user.random_posts.each do |post| %>
        <%= render 'post_card', post: post %>
      <% end %>
    <% end %>
  </div>

</div>

