<div class="container">

<div class="heading">
  <h1>Recent Tweets</h1>
</div>
<div class="new-post">
  <%= link_to "make a post", new_post_path  %>
</div>

  <div class="posts">
    <% @users.each do |user| %>
      <% user.random_posts.each do |post| %>
        <%= render 'post_card', post: post %>
      <% end %>
    <% end %>
  </div>

</div>

