.post-card {
  border-radius: 4px;
  background: white;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px 16px 0px 16px;
}

.stats {
  display: flex;
  justify-content: space-between;
  line-height: 10%;
}

.post-header {
  display: flex;
  justify-content: space-between;
}
